input {
    margin-left: 8px;
    margin-right: 20px;    
}

select {
    margin-left: 8px;  
    margin-right: 20px;   
}

.td-login-container {
    width: 99vw;
    height:80vh;
    text-align: center;
    vertical-align: middle;
}

.inline-block {
    display: inline-block;
}

.div-login-error-log {
    height:40px;
    color: red;
    font-style: italic;
}

.td-login-button {
    text-align: center;
}

.td-button {
    vertical-align: top;
}

.common {
    font-family: "Arial", Sans-serif;
}

.div-preferences {
    position: absolute;
    bottom: 94%;
    left: 2%;
}

.div-preferences-dialog {
    position: absolute;
    top: 6%;
    left: 2%;
    border-style: solid;
    border-color: gray;
    border-radius:5px;
    background-color: white;    
}

.table-preferences {
    margin-top:5vh;
    margin-bottom:5vh;
    margin-left:5vh;
    margin-right:5vh;
    white-space: nowrap; 
}

.div-menu {
    position: absolute;
    top: 8%;
    left:2%;
    height: 92%;
    width: 25%;
    overflow: auto;
    /*background-color: cyan;*/
}

.div-right {
    position: absolute;
    top: 0px;
    left: 27%;
    height: 100%;
    width: 71%;
    padding-left: 2%;
    overflow: auto;
    /*background-color: gray;*/
}

.text-colour-ga {
    color: darkgreen;
}

.text-colour-beta {
    color: crimson;  
}

.text-colour-mixed {
    color: darkgoldenrod;    
}

.text-colour-ga-colourblind {
    color: darkblue;
}

.text-colour-beta-colourblind {
    color: crimson;  
}

.text-colour-mixed-colourblind {
    color: tan;    
}

.text-colour-default {
    color: black;    
}

.menu-item {
    text-decoration: none;
}

.main-panel-category {
    padding-top:2%;
}

.main-panel-endpoint {
    padding-top:1%;
}

.main-panel-endpoint-title {
    text-decoration: none;
}

.code {
    font-family: "Courier", Sans-serif;
}

.main-panel-endpoint-block-header {
    padding-top:1%;
    color: darkgray;
    font-size: small;
    font-weight: bold;
}

.main-panel-endpoint-http-verb {
    background-color: lightgray;
    color: charcoal;
    width: 80px;
    text-align: center;
    border-radius:5px;
}

.main-panel-endpoint-http-verb-cell {
    width: 100px;
}

.main-panel-query-parameter-name {
    font-size: small;
}

.main-panel-query-parameter-description {
    font-size: small;
    color: darkgray;
}

.main-panel-endpoint-spacer {
    padding-top:3%;
}

.output{
    font-size: small;
}

.main-panel-final-spacer {
    padding-top:12%;    
}

