label {
    margin-left: 20px;
}

button {
    margin-left: 20px;
}

.common {
    font-family: "Arial", Sans-serif;
}

.div-top {
    position: absolute;
    left: 2%;
    width: 96%;
    height: 9%;
    padding-top: 1%;
    /*background-color: yellow;*/
}

.div-menu {
    position: absolute;
    top: 15%;
    left:2%;
    height: 85%;
    width: 25%;
    overflow: auto;
    /*background-color: cyan;*/
}

.div-right {
    position: absolute;
    top: 15%;
    left: 27%;
    height: 85%;
    width: 71%;
    padding-left: 2%;
    overflow: auto;
    /*background-color: gray;*/
}

.text-colour-ga {
    color: darkgreen;
}

.text-colour-beta {
    color: crimson;  
}

.text-colour-mixed {
    color: darkgoldenrod;    
}

.text-colour-ga-colourblind {
    color: darkblue;
}

.text-colour-beta-colourblind {
    color: crimson;  
}

.text-colour-mixed-colourblind {
    color: MediumOrchid;    
}

.text-colour-default {
    color: black;    
}

.menu-item {
    text-decoration: none;
}

.main-panel-category {
    padding-top:2%;
}

.main-panel-endpoint {
    padding-top:1%;
}

.main-panel-endpoint-title {
    text-decoration: none;
}

.code {
    font-family: "Courier", Sans-serif;
}

.main-panel-endpoint-block-header {
    padding-top:1%;
    color: darkgray;
    font-size: small;
    font-weight: bold;
}

.main-panel-endpoint-http-verb {
    background-color: lightgray;
    color: charcoal;
    width: 80px;
    text-align: center;
    border-radius:5px;
}

.main-panel-endpoint-http-verb-cell {
    width: 100px;
}

.main-panel-query-parameter-name {
    font-size: small;
}

.main-panel-query-parameter-description {
    font-size: small;
    color: darkgray;
}

.main-panel-endpoint-spacer {
    padding-top:3%;
}

.output{
    font-size: small;
}

.main-panel-final-spacer {
    padding-top:12%;    
}

